body{
    font-family: "Roboto Condensed", sans-serif;
}
.fotografia{
    border-radius: 10px;
    width: 300px;
}

.principal{
    display: flex;
}
.columna1{
    width: 70%;
}
.columna2{
    width: 30%;
}
